.navButton {
    background-color: cadetblue;
    padding: 11px 25px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
}

/* This turn the drop down off when not used */
.dropDownBox {
    display: none;
    position: absolute;
    /* the depth of the menu */
    z-index: 1;
    padding-top: 20px;
    margin-left: -25px;
}


/* This turn the drop down on when hover */
.navButton:hover .dropDownBox {
    display: block;
}

.dropDownBox .navButton {
    background-color: chocolate;
}

.dropDownBox .navButton:hover {
    background-color: cornflowerblue;
    transition-duration: 500ms;
}